@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");

:root {
  --primary-color: linear-gradient(250deg, #0f0125 10%, #020c29 86%);
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: rgb(119, 4, 4);
  line-height: 1.8;
  background: var(--primary-color);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(10, 131, 121);
}
h1,
h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
  font-size: xx-large;
  text-align: inherit;
}
.col-text {
  color: rgb(8, 156, 144);
}

p {
  /* //marig top and bottom 10 px */
  margin: 10px 0;
}

img {
  /*will be there in container*/
  width: 100%;
}

.navbar {
  color: white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #020c29;
  border-bottom: 0.5px solid rgb(3, 61, 30);
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 10%);
}

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.title {
  font-weight: 100;
  color: transparent;
  font-size: 65px;
  background: url("https://res.cloudinary.com/dolocb1fl/image/upload/v1647284837/rainbow-nebula-min_kovr86.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
}

.name-text {
  font-weight: 1000;
  color: transparent;
  font-size: 120px;
  background: url("https://res.cloudinary.com/dolocb1fl/image/upload/v1647284837/rainbow-nebula-min_kovr86.jpg") repeat;
  -webkit-background-clip: text;
  background-position: 40% 50%;
}
.subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 60% 30%;
  gap: 30px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 100%;
  padding: 40px;
}

.card {
  background-color: transparent;
  color: turquoise;
  border-radius: 10px;
  box-shadow: 10px 13px 20px rgba(62, 7, 165, 0.2);
  padding: 20px;
  margin: 10px;
}
.navbar .flex {
  float: right;
  padding-right: 100px;
}

.navbar ul {
  display: flex;
}
.navbar a {
  padding: 10px;
  color: aliceblue;
}
.navbar a:hover {
  border-bottom: 2px green solid;
  color: #84e688;
}
.navbar a {
  color: rgb(18, 141, 129);
}

/* Stats */

.stats {
  padding-top: 100px;
}

.stats a:hover {
  border-bottom: 2px rgb(209, 56, 10) solid;
}

.stats .card {
  height: 600px;
  transition: transform 0.2s ease-in;
}

.stats .card h4:nth-child(3) {
  text-align: start;
  color: #f4f4f4;
  font-size: 16px;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem auto;
  max-width: 500px;
}

/* languages */

.languages .card {
  text-align: center;
  margin: 20px 20px;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.languages .card h4 {
  margin-bottom: 10px;
  font-size: x-large;
}
.languages .card:hover {
  transform: translateY(-15px);
}
.stats .card:hover {
  transform: translateY(-15px);
}

.languages .flex {
  flex-wrap: wrap;
}
.languages {
  margin-top: 250px;
}
/* Footer */

/* image-gallery */

.footer .social a {
  margin: 0 10px;
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .name-text {
    padding-top: 90px;
    font-weight: 800;
    font-size: 80px;
    line-height: 87px;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .showcase-form {
    width: 300px;
  }
  .languages {
    margin-top: 70px;
  }
  .showcase-form {
    top: 0px;
  }
  .stats {
    padding-top: 30px;
  }
  .title {
    letter-spacing: -4px;
  }
  .name-text {
    padding-top: 130px;
  }
}

.my-2 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 3rem 0;
}

/* padding */
